html *, *:before, *:after 
{
    
    box-sizing: border-box;
}




body {
    width: 100%;
    margin: 0;
    background-image: url(/assets/images/mirrored_squares.png)
}

.content {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    padding: 25px;
    height: 100%;
    font-size: 20px;

}

.topnavBar {
    background-color: white;
    border-bottom: 2px solid #4aaaa5;
}

.topnavContent {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.navlinkGroup {
    align-self: center;
}


.navlink{
    color: #777777;
    text-decoration: none;
    
}
.navlinkBordered{
    border-right: 1px solid;
    border-left: 1px solid;
    color: #777777;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

#name{
    float: left;
    color: #efeee7;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 150px;
    background-color: #4aaaa5;
}

.name2{
    margin: 10px;
    text-align: center;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 730px;
    

}.mail{
    margin: 10px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 725px;

}

.msg{
    margin-top: 10px;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    width: 725px;

}
#button{
    margin-top:30px ;
    color: rgb(223, 223, 223);
    background-color: #4aaaa5;
    padding: 10px 32px;
    margin-left: 68px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#aboutMe{
    width: 100%;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid lightgray;
    padding-bottom: 15px;
    margin-bottom: 20px;

}

.inlineImage {
    float:left;
    width: 195px;
    height:180px;
    padding-right:20px;
    
}

.portfolioImage{
    align-items: center;
    float: left;
    width: 300px;
    height: 193px;
    padding: 15px;    
}
.portfolioImage2{
    float: left;
    width: 300px;
    height: 193px;
    padding: 15px;    
}
.portfolioImage3{
    float: left;
    width: 300px;
    height: 193px;
    padding: 15px; 
}
.portfolioImage4{
    float: left;
    width: 300px;
    height: 193px;
    padding: 15px; 
}
.portfolioImage5{
    float: left;
    width: 300px;
    height: 190px;
    padding: 15px; 
}


.flexcontainer{
    display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 5px 0;
        flex-wrap: wrap;
}
.clearfix{
        content: "";
        clear: both;
       display: table;
      
}
 .left-column{
    flex-basis: 50%;
    position: relative;
}
.right-column{
    flex-basis: 50%; 
    margin-bottom: 35%;
} 
.hangman{
    position: sticky;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: large;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: block;
}
.rpgGame{
    position: sticky;
    bottom: 40%;
    left: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: large;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 13px;
    display: block;
}
.triviaGame{
    position: sticky;
    bottom: 19%;
    left: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: large;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: block;
}
.infoWidget{
    position: sticky;
    top: 2%;
    right: 46%;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: large;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
    display: block;

}
.rockPaper{
    position: sticky;
    top: 50%;
    right: 45%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: large;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 50px;
    display: block;
    
}

.footer{
    border-top:10px solid #4aaaa5 ;
    
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #666666;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 5px;
}
@media screen and (max-width: 640px){
    body{
        float: left;
        width: 100%;
    }
    .content{
        float: left;
        width: 100%;
    }
    .flexcontainer{
        width: 90%;
        float: left;
    }
    .navlinkGroup{
        width: 90%;
        float: left;
     }
    .topnavBar{
        width: 100%;
    
    }
    .footer{
        width: 100%;
    }
    .name2{
        width: 100%
    }
    .mail{
        width: 100%;
    }
    .msg{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    body{
        float: left;
        width: 100%;
    }
    .content{
        float: left;
        width: 100%;
    }
    .flexcontainer{
        width: 90%;
        float: left;
    }
    .navlinkGroup{
        width: 90%;
        float: left;
    }
    .topnavBar{
        width: 100%;
        float: left;
    }
    .footer{
        width: 100%;
    }
    .name2{
        width: 100%
    }
    .mail{
        width: 100%;
    }
    .msg{
        width: 100%;
    }
}
@media screen and (max-width:980px){
    body{
        width: 100%;
    }
    .content{
        float: left;
        width: 100%;
    }
    .flexcontainer{
        width: 90%;
        float: left;
    }
    .navlinkGroup{
        width: 100%;
        float: left;
    }
    .topnavBar{
        width: 100%;
        
    }
    .footer{
        width: 100%;
    }
    .name2{
        width: 100%
    }
    .mail{
        width: 100%;
    }
    .msg{
        width: 100%;
    }
    
}

